<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()" slot="end">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onAddTeam()" #f="ngForm">
    <ion-grid>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Team name</ion-label>
            <ion-input type="text" ngModel name="team" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Wins</ion-label>
            <ion-input type="number" ngModel name="wins" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Draws</ion-label>
            <ion-input type="number" ngModel name="draws" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Losses</ion-label>
            <ion-input type="number" ngModel name="losses" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Image URL</ion-label>
            <ion-input type="text" ngModel name="imageURL" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" [disabled]="f.invalid">
            Add it
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
