ion-item.ion-valid{
  --highlight-color-valid: var(--ion-color-tertiary);
}
ion-content{
  --background: url(../../../assets/img/pl_logo.png) 0/100% 75% no-repeat;

}

ion-router-link{
  --color: var(--ion-color-primary);
}
